@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

a:link {
	text-decoration: none;
}

html {
	background: #424242
}

/*header {
	height: 30%;
}*/

.top {
	width: 30%;
	text-align: center;
	/*border: 5px black solid;*/
	margin: auto;
	margin-top: 2%;
}

h1 {
	font-family: Dancing Script, cursive;
	font-size: 60px;
	text-align: center;
	color: white;
	animation: fadeIn 3s;
	margin-top: 2%;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.box1 {
	width: 99%;
	height: 33%;
	position: absolute;
	display: flex;
	margin-top: 7%;
	/*border: 3px black solid;*/
}

.box2 {
	width: 50%;
	/*border: 1px black solid;*/
}

.box3 {
	width: 50%;
	/*border: 1px black solid;*/
}

.jewelry {
	width: 50%;
	animation: fadeIn 3s;
	/*border: 1px black solid;*/
	/*margin-left: 12%;*/
	margin: auto;
}

.jewelry h1 {
	color: #CAA0CB;
}

.lapidary {
	width: 55%;
	animation: fadeIn 4s;
	/*border: 1px black solid;*/
	/*margin-left: 23%;*/
	margin: auto;
}

.lapidary h1 {
	color: #E1E168;
}

.tfc {
	width:100%;
	height: 33%;
	padding-top: 20%;
	text-align: center;
	animation: fadeIn 5s;
}

.tfc h1 {
	color: #72C8A9;
}

.tfc h2 {
	color: #95ECCC;
}